## sentence embeddings

This file will have simple code to how to convert setence to their embeddings using sentence transformers from hugging face and storing results in csv file to futher downstream(visualizing/clustering) tasks.

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("http://bit.ly/dataset-sst2",
                nrows=100, sep='\t', names=['text',
                                           'label'])

In [7]:
df.head()

                                                text  label
0  a stirring , funny and finally transporting re...      1
1  apparently reassembled from the cutting room f...      0
2  they presume their audience wo n't sit still f...      0
3  this is a visually stunning rumination on love...      1
4  jonathan parker 's bartleby should have been t...      1

In [8]:
df['label'] = df['label'].replace({0:'negative',
                                  1:'positive'})

In [9]:
df.head()

                                                text     label
0  a stirring , funny and finally transporting re...  positive
1  apparently reassembled from the cutting room f...  negative
2  they presume their audience wo n't sit still f...  negative
3  this is a visually stunning rumination on love...  positive
4  jonathan parker 's bartleby should have been t...  positive

In [10]:
df.loc[[10,27,54,72,
       91], 'text'] = 'askas sdadks askd sadsa'

In [11]:
df.head()

                                                text     label
0  a stirring , funny and finally transporting re...  positive
1  apparently reassembled from the cutting room f...  negative
2  they presume their audience wo n't sit still f...  negative
3  this is a visually stunning rumination on love...  positive
4  jonathan parker 's bartleby should have been t...  positive

In [13]:
from sentence_transformers import SentenceTransformer

In [14]:
sentence_bert_model = SentenceTransformer('distilbert-base-nli-stsb-mean-tokens')

100%|██████████| 245M/245M [03:12<00:00, 1.27MB/s]

In [16]:
def get_embeddings(sentences):
    return sentence_bert_model.encode(sentences,
                                     batch_size=32,
                                     show_progress_bar=True)

In [17]:
e = get_embeddings(df['text'])

HBox(children=(FloatProgress(value=0.0, description='Batches', max=4.0, style=ProgressStyle(description_width=…

In [19]:
embeddings_df = pd.DataFrame(e)

In [23]:
embeddings_df.to_csv('output.tsv', sep='\t', index=None,
                    header=None)

In [22]:
df.to_csv('metadata.tcv', index=False, sep='\t')